{% extends 'base.html' %}

{% block content %}
<div class="container pt-3 col-md-auto col-lg-6 needs-validation">
  {% if login_required == True %}
    <div class="alert alert-danger text-center" role="alert">
      Login Required
    </div>
  {% endif %}
    <div class="form-floating">
      <input type="text" class="form-control" id="login_username" placeholder="Username" value="test" required>
      <label for="login_username">Username</label>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="form-floating pt-2">
      <input type="password" class="form-control" id="login_user_password" placeholder="Password" value="test">
      <label for="login_user_password">Password</label>
    </div>
    <div class="pt-3">
        <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="sign_in()">Sign in</button>
    </div>
    <div class="pt-3">
      <button class="w-100 btn btn-lg btn-secondary pt-2" type="submit" data-bs-toggle="modal" data-bs-target="#signUp">Sign Up</button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="signUp" tabindex="-1" aria-labelledby="signUpLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signUpLabel">Sign Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating">
          <input type="username" class="form-control" id="signup_username" placeholder="username">
          <label for="signup_username">Username</label>
        </div>
        <div class="form-floating pt-2">
          <input type="email" class="form-control" id="signup_user_email" placeholder="name@example.com">
          <label for="signup_user_email">Email address</label>
        </div>
        <div class="form-floating pt-2">
          <input type="password" class="form-control" id="signup_user_password" placeholder="Password">
          <label for="signup_user_password">Password</label>
        </div>
        <div class="form-floating pt-2">
          <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password">
          <label for="confirm_password">Confirm Password</label>
        </div>
        <div class="contianer pt-1">
          <ul class="list-group" id="errors"></ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="sign_up()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
  
  let x = document.cookie;
  x = x.split(';')
  for(let i = 0; i < x.length; i++){
    console.log(x[i])
  }
  token = getCookie("token") 
  console.log(token)


  function sign_in(){
      const apiUrl = "/swagger/api/login"
      login_username = document.getElementById('login_username').value
      login_password = document.getElementById('login_user_password').value
  
      const data = {
        username: login_username,
        password: login_password
      }
      console.log(data)
      const requestOptions = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      };

      
      fetch(apiUrl, requestOptions)
      .then(response => {
        console.log(response.ok)
        return response.json();
      })
      .then(data => {
        if (data.message){
          console.log("Error on API")
          outputElement.innerHTML = '<li class="list-group-item"><i class="fa-solid fa-triangle-exclamation"></i> '+data.message+'</li>'
        }else{
          console.log("Successful Login")
          console.log(data.token)
          document.cookie = "token="+data.token;
          window.location.replace("/protected")
        }
      })
      .catch(error => {
        console.error
      ('Error:', error);
    });
  }
  
  function sign_up(){
    const apiUrl = "/swagger/api/user"
    user_username = document.getElementById('signup_username').value
    user_email = document.getElementById('signup_user_email').value
    user_password = document.getElementById('signup_user_password').value
    console.log(user_email)
    console.log(user_password)

    email_is_valid = ValidateEmail(user_email)
    password_is_valid = ValidatePassword(user_password)

    if(password_is_valid != true){}
      outputElement = document.getElementById('errors')
      for (item in password_is_valid){
        outputElement.innerHTML += '<li class="list-group-item"><i class="fa-solid fa-triangle-exclamation"></i> ' + password_is_valid[item] +'</li>'
      }

      if(email_is_valid != true){
        outputElement = document.getElementById('errors')
          outputElement.innerHTML += '<li class="list-group-item"><i class="fa-solid fa-triangle-exclamation"></i> Email is invalid</li>'
        }
    if (email_is_valid && password_is_valid){
      const data = {
        username: user_username,
        email: user_email,
        password: user_password
      }
      const requestOptions = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      };
      fetch(apiUrl, requestOptions)
      .then(response => {
        console.log(response.ok)
        return response.json();
      })
      .then(data => {
        if (data.message){
          console.log("Error on API")
          outputElement.innerHTML = '<li class="list-group-item"><i class="fa-solid fa-triangle-exclamation"></i> '+data.message+'</li>'
        }else{
          console.log("Successful Creation")
          console.log(data.token)
          document.cookie = "token="+data.token;
          window.location.replace("/protected")
        }
      })
      .catch(error => {
        console.error
      ('Error:', error);
    });
    }
  }
</script>
{% endblock %}